@using System.Text
@using Orchard.Taxonomies.Models
@{
	Script.Require("jQuery").AtHead();
	//Script.Include("/Themes/ISkyTheme/Scripts/TickScroll.min.js").AtHead(); 
} 
@using(Html.BeginFormAntiForgeryPost())
{
	<select name="terms" class="tax-terms">
		@Html.SelectOption("", false, "All")
		@foreach(TermPart term in Model.Terms) {
			var depth = Math.Max(term.FullPath.Split('/').Count() - 2, 0) * 2;
			var termName = new StringBuilder().Append('-', depth);
			termName.Append(term.Name);

			@Html.SelectOption((int)Model.LastTermId, term.Id, termName.ToString())
		}
	</select>
	<button>@T("Search")</button>
}
<script type="text/javascript">
	var selectbox;
	var allTerms;
	$(window).load(function () {
		selectbox = $(".tax-terms");
		allTerms = tList(0, 0, selectbox[0], selectbox[0].length);
		var newSelect = $("<select/>");
		newSelect.change(onSelectOption);
		populateTerms(allTerms, newSelect[0]);
		selectbox.before(newSelect);
		
		selectbox[0].innerHTML = null;

		// Todo:
		// 1. Don't lose selected option on initial load
	});
	
	function tList(place, level, selectOptions, numOptions) {
		var terms = [];
		for (var i=place; i<numOptions; i++) {
			var currentLevel = indentLevel(selectOptions[i].text);
			if (currentLevel == level) {
				var text = selectOptions[i].text.substring(level * 2);
				terms.push({ value: selectOptions[i].value, text: text });
			}
			else if (currentLevel > level) {
				var subTerms = tList(i, currentLevel, selectOptions, numOptions);
				terms[terms.length - 1].terms = subTerms;
				i += subTerms.length - 1;
			}
			else {
				return terms;
			}
			
		}
		return terms;
	}
	
	function indentLevel(text) {
		var textLength = text.length;
		for(var i=0; i<textLength; i++) {
			if (text.charAt(i) != '-') return i / 2;
		}
		return 0;
	}
	
	function populateTerms(terms, selectbox) {
		selectbox.innerHTML = null;
		var termsLength = terms.length;
		for(var i=0; i<termsLength; i++) {
			selectbox.add(new Option(terms[i].text, terms[i].value));
		}
	}
	
	function onSelectOption(e) {
		var subTerms = allTerms[e.currentTarget.selectedIndex].terms;
		if(subTerms) {
			populateTerms(subTerms, selectbox[0]);
		}
		else {
			selectbox[0].innerHTML = null;
		}
	}
</script>
@* <script$(window).load(function () {$(".widget-headlines").TickScroll();});</script> *@