@model NogginBox.TaxonomySelectTermFilter.Models.TaxonomySelectTermWidgetPart
	   
<fieldset>
	<div>
		@Html.LabelFor(m => m.TaxonomyId, T("Taxonomy"))
		@Html.DropDownListFor(m => m.TaxonomyId, Model.TaxonomyOptions)
		<span class="hint">@T("Taxonomy to show terms from")</span>
	</div>
</fieldset>